<a href="/election/democrats/clinton"><div id="clinton" class="large-3 columns movie-poster-img "></div></a>
<a href="/election/democrats/sanders"><div id="sanders" class="large-3 columns movie-poster-img "></div></a>
<a href="/election/democrats/chafee"><div id="chafee" class="large-3 columns movie-poster-img "></div></a>
<a href="/election/democrats/webb"><div id="webb" class="large-3 columns movie-poster-img "></div></a>
