<!-- <ul>
  <li><img class='pic' src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Clinton_Circle.png/195px-Clinton_Circle.png" alt="Hillary Clinton" /><a href="/election/democrats/clinton">Hillary Clinton</a></li>
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Sanders_Circle.png/195px-Sanders_Circle.png" alt="Bernie Sanders" class='pic' /><a href="/election/democrats/sanders">Bernie Sanders</a></li>
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Chafee_Circle.png/195px-Chafee_Circle.png" alt="Lincoln Chafee" class='pic' /><a href="/election/democrats/chafee">Lincoln Chafee</a></li>
  <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Webb_Circle.png/195px-Webb_Circle.png" alt="Jim Webb" class='pic' /><a href="/election/democrats/webb">Jim Webb</a></li>
</ul> -->

<!-- <div class="row"> -->
  <div id="clinton" class="large-3 columns movie-poster-img "></div>
  <div id="sanders" class="large-3 columns movie-poster-img "></div>
  <div id="chafee" class="large-3 columns movie-poster-img "></div>
  <div id="webb" class="large-3 columns movie-poster-img "></div>
<!-- </div> -->
