<ul>
  <li><a href="/election/democrats/clinton">Hillary Clinton</a></li>
  <li><a href="/election/democrats/sanders">Bernie Sanders</a></li>
  <li><a href="/election/democrats/chafee">Lincoln Chafee</a></li>
  <li><a href="/election/democrats/webb">Jim Webb</a></li>
</ul>
