<table>
  <thead>
    <tr>
      <th>Tweet:</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.id %></td>
      <td><%= tweet.tweet %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @tweets %>
