<div id="index-wrapper" class="container">

  <div class="row">
    <div class="large 12 columns text-center">
      <h1 id="site-title">twitterbot</h1>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns button-container text-center">
      <a class="button" href="/search">Search the World</a>
    </div>
  </div>



</div>
