<form action="/search_local" method="post" data-abide>
  <div class="large-12 columns text-center">
    <h1>Local Search</h1>
  </div>
  <div class="row">
    <div class="large-12 columns text-center">
      <input type="text" class="text-center error" required name="query">
      <small class="error">You need to enter in a query.</small>
    </div>
  </div>


  <div class="row">
    <div class="row">
      <div class="12-columns text-center">
        <label>Set the range of the search</label>
      </div>
    </div>
    <div class="large-12 columns text-center">
      <input class="text-center" type="number" name="range" id="days-off-count" value="28" />
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="range-slider" data-slider data-options="display_selector: #days-off-count; initial: 15; start: 1; end: 250;">
        <span class="range-slider-handle" role="slider" tabindex="0"></span>
        <span class="range-slider-active-segment"></span>
      </div>
    </div>
  </div>


</div>



  <div class="row">
    <div class="large-12 columns text-center">
      <button type="submit">Search</button>
    </div>
  </div>
</form>

<script>
$(document).ready(function() {

  getCoordinates();

  function getCoordinates() {
    $.getJSON("http://www.telize.com/geoip?callback=?", function(json) {
    })
    .fail(function(jqxhr, textStatus, error) {
      var err = textStatus + ", " + error;
      console.log("Request Failed: " + err);
      writeError();
    })
    .done(function(json) {
      zipCode = json.postalCode;
      geoLat  = json.latitude;
      geoLong = json.longitude;

      submitLocation();
    })
    .always(function() {
      console.log('Search complete');
    });
  }

  // submits the geolocation information from the user
  function submitLocation() {
      $.ajax({
      type: 'POST',
      data: { lat: geoLat, lng: geoLong },
      dataType: 'script',
      url: '/location'
    })
      .done(function(data) {
        console.log("success")
      })
      .fail(function(err) {
        console.log("failed")
        console.log(err);
      })
      .always(function() {
        console.log("finished loading user info")
      });
  };
});



</script>
