

<a href="/election/republicans/trump"><div id="trump" class="large-2 columns movie-poster-img-rep "></div></a>
<a href="/election/republicans/carson"><div id="carson" class="large-2 columns movie-poster-img-rep "></div></a>
<a href="/election/republicans/bush"><div id="bush" class="large-2 columns movie-poster-img-rep "></div></a>
<a href="/election/republicans/cruz"><div id="cruz" class="large-2 columns movie-poster-img-rep "></div></a>
<a href="/election/republicans/rubio"><div id="rubio" class="large-2 columns movie-poster-img-rep "></div></a>
<a href="/election/republicans/walker"><div id="walker" class="large-2 columns movie-poster-img-rep "></div></a>
