<ul>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Trump_Circle.png/203px-Trump_Circle.png" alt="Donald Trump"><a href="/election/republicans/trump">Donald Trump</a></li>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Carson_Circle.png/195px-Carson_Circle.png" alt="Ben Carson"><a href="/election/republicans/carson">Ben Carson</a></li>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Jeb_circle.png/195px-Jeb_circle.png" alt="Jeb Bush"><a href="/election/republicans/bush">Jeb Bush</a></li>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Cruz_Circle.png/195px-Cruz_Circle.png" alt="Ted Cruz"><a href="/election/republicans/cruz">Ted Cruz</a></li>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Rubio_Circle.png/195px-Rubio_Circle.png" alt="Marco Rubio"><a href="/election/republicans/rubio">Marco Rubio</a></li>
  <li><img class="pic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Walker_Circle.png/195px-Walker_Circle.png" alt="Scott Walker"><a href="/election/republicans/walker">Scott Walker</a></li>
</ul>

<div class="row">
  <div class="large-12 columns text-center">
    <button id="show-filter">Search within?</button>
  </div>
</div>
<form id="filter-form" class="hidden" action="/search-filter" method="post">
  <div class="row">
    <div class="large 12 columns text-center">
      <input name="filter" placeholder="Bernie Sanders">
    </div>

    <div class="row">
      <div class="large 12 columns text-center">
        <button type="submit">Filter</button>
      </div>
    </div>
  </div>
</form>


//show form on click
<script charset="utf-8">
  $('#show-filter').on('click', function() {
    $('#filter-form').toggleClass('hidden');
  });
</script>
