<div id="search-form-wrapper" class="container">

  <div class="row">
    <div class="large-12 columns">
      <form action="/data/search" method="post" data-abide>
        <div class="large-12 columns text-center">
          <h1>Search within Data</h1>
        </div>
        <input class="text-center error" type="text" name="query" required value="">
        <small class="error">You need to enter in a query.</small>
        <div class="large-12 columns text-center">
          <button type="submit" name="button">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
