
h1, h2, h3, h4, li, a, button, .btn, input {
  font-family: 'Lato';
}

html {
  font-family: Lato;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#site-title {
  margin-top: 1em;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

.button-container {
  margin-top: 3em;
}

/*#map-wrap {
  height: 1000px;
}*/


#tweet-map {
  height: 400px;
  width: 800px;
  margin: auto;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.brand-logo {
  margin-left: 1em;
}

ul {
  list-style: none;
}

.pic {
  height: 100px;
  margin-right: 1em;
}

/* charts */
#myChartLegend {
  margin: 1em;
}

/* tables */

table {
  margin: 10px auto;
}

.pagination-container {
  margin-top: 20px;
}

button {
  margin-top: 5px;
}

#map-container {
  margin: auto;
  height: 100%;
  width: 100%;
}


.legend-container {
  margin-top: 5px;
}

.legend-container div {
  padding: 10px;
}
