
h1, h2, h3, h4, li, a, button, .btn, input {
  font-family: 'Lato';
}

html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


html {
  font-family: Lato;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#site-title {
  margin-top: 1em;
}

h1 {
  font-size: 64px;
  font-weight: 300;
}

.button-container {
  margin-top: 3em;
}

/*#map-wrap {
  height: 1000px;
}*/


#tweet-map {
  height: 400px;
  width: 800px;
  margin: auto;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.brand-logo {
  margin-left: 1em;
}

ul {
  list-style: none;
}

.pic {
  height: 100px;
  margin-right: 1em;
}

/* charts */
#myChartLegend {
  margin: 1em;
}

/* tables */

table {
  margin: 10px auto;
}

.pagination-container {
  margin-top: 20px;
}

button {
  margin-top: 5px;
}

#map-container {
  margin: auto;
  height: 100%;
  width: 100%;
}

.legend-container {
  margin-top: 5px;
}

.legend-container div {
  padding: 10px;
}

.movie-poster-img {
  height: 100vh;
  width: 25%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  opacity: .8;
}

.movie-poster-img:hover {
  opacity: 1.0;
  background-position: left;
}

#clinton {
	background-image: url('/img/clinton.jpg');
}

#sanders {
  background-image: url('/img/sanders.jpg');
}

#webb {
  background-image: url('/img/webb.jpg');
}

#chafee {
  background-image: url('/img/chafee.jpg');
}


/* Republican */
.movie-poster-img-rep {
  height: 100vh;
  width: 16.6666666667%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  opacity: .8;
}

.movie-poster-img-rep:hover {
  opacity: 1.0;
  background-position: right center;
}

#trump {
  background-image: url('/img/trump.jpg');
}
#carson {
  background-image: url('/img/carson.jpg');
}
#bush {
  background-image: url('/img/bush.jpg');
}
#cruz {
  background-image: url('/img/cruz.jpg');
}
#rubio {
  background-image: url('/img/rubio.jpg');
}
#walker {
  background-image: url('/img/walker.jpg');
}
